<p>customer works!</p>
<div *ngFor="let cuss of customers" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 style="color: rgb(115, 124, 250);" class="card-title">Kişinin Id Numarası :{{cuss.id}}</h5>
        <h5 style="color: rgb(124, 223, 248);" class="card-text">Kişinin Adı : {{cuss.ad}}</h5>
        <h5 style="color: rgb(115, 124, 250);" class="card-text">Kişinin Soyadı : {{cuss.soyad}}</h5>
        <h5 style="color: rgb(124, 223, 248);" class="card-text">Kişinin Türkiye Kimlik Numarası : {{cuss.tcNo}}</h5>
        <br>
        <br>

          </div></div>

                  