<p>customer-contact works!</p>
<h3>
<div *ngFor="let cuss of customerContact" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 style="color: rgb(253, 12, 4);" class="card-title">Kişinin Id Numarası :{{cuss.id}}</h5>
        <h5 style="color: rgb(138, 138, 138);" class="card-text">Kişinin customerId : {{cuss.customerId}}</h5>
        <h5 style="color: rgb(253, 12, 4);" class="card-text">Kişinin evNumara : {{cuss.evNumara}}</h5>
        <h5 style="color: rgb(138, 138, 138);" class="card-text">Kişinin mobilNumara : {{cuss.mobilNumara}}</h5>
        <h5 style="color: rgb(253, 12, 4);" class="card-text">Kişinin EMail : {{cuss.email}}</h5>
        <h5 style="color: rgb(138, 138, 138);" class="card-text">Kişinin İş Numarası : {{cuss.isNumara}}</h5>
        <br>
        <br>

          </div></div></h3>