<p>customer-adress works!</p>
<h5 *ngFor="let cus of customerAdress">
    <h5 style="color: rgb(115, 124, 250);" class="card-title">Kişinin Id Numarası :{{cus.id}}</h5>
        <h5 style="color: rgb(124, 223, 248);" class="card-text">Kişinin Adı : {{cus.customerId}}</h5>
        <h5 style="color: rgb(115, 124, 250);" class="card-text">Kişinin Soyadı : {{cus.evAdres}}</h5>
        <h5 style="color: rgb(255, 81, 0);" class="card-text">Kişinin Türkiye Kimlik Numarası : {{cus.isAdres}}</h5>
        <br>
        <br>
</h5>
